body, html {
  height: 100%;
  width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

p {
  margin: 0;
  font-family: 'Merriweather Sans', sans-serif;
}

ul {
  display: table;
    margin: 0 auto;
    text-align: left;
    position: relative;
    right: 20px;
}
#connect {
  background-color: #F9F5EB;
  height: 1700px;
}

#lineBreak {
  border: 8px dotted;
  height: 2px;
  width: 16%;
  border-top: 0;
  border-color: black;
  color: #F9F5EB;
  margin-left: 42%;
  margin-right: 42%;
}

.title-hr {
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  color: black;
  border: 2px solid;
}

.title-heading {
  font-family: 'Arvo' , serif;
  font-size: 3em;
  color: #1C3879;
}

.title-heading2 {
  font-family: 'Arvo' , serif;
  font-size: 2em;
}

/* Front page css code */
#FrontPage {
  position: relative;
  z-index: -1;
}

.front-title-first {
  position: relative;
  color: black;
  font-family: 'Arvo', serif;
  font-size: 3rem;
  line-height: 0.5;
  text-align: center;
}

.front-title{
  padding-left: 10px;
  position: relative;
  color: black;
  font-family: 'Arvo' , serif;
  font-weight: bold;
  font-size: 5rem;
  line-height: 0.5;
  text-align: center;
}

.front-background {
  min-height: 100%;
  min-width: 1024px;
  /* Set up proportionate scaling */
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}

.front-page {
  position: static;
  top: 0;
  left: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  position: relative;
  z-index: -1;
}

.front-page::before {
  content: "";
  background-image: url('images/frontpage.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      opacity: 0.7;
}

/* Profile Page css code */
#ProfilePage {
  position: relative;
  z-index: -1;
}

.profile-page-div {
  padding: 5% 17% 10% 17%;
  display: block;
}

.profile-table {
  display: table;
  margin: 0 auto;
}

.profile-title-div {
  text-align: center;
  height: auto;
}

.profile-title {
  font-family: 'Arvo' , serif;
  font-size: 3em;
}

.profile-intro {
  height: auto;
  padding-top: 50px;
  padding-bottom: 50px;
  line-height: 2;
  text-align: center;

}

.prof-info {
  display: inline-block;
}

.profile-demographic {
  display: block;
  float: left;
  width: 50%;
  text-align: center;
  padding-top:3%;

}

@media (max-width: 600px) {
  .profile-demographic {float: none; width: 100%; opacity: 1; transform: none;}
}

.profile-demographic h2{
  padding-bottom: 20px;
}


.profile-pictures-section {
  float: right;
  width: 50%;
  height: 400px;
  display: block;
  text-align: center;
}

@media (max-width: 600px) {
  .profile-pictures-section {float: none; width: 100%; padding-top: 20%; padding-bottom: 20%; opacity: 1; transform: none;}
}

.profile-picture {
  width: 100%;
  max-width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 50%;
  display: block;
  margin: auto auto auto auto;
}

/* Education Page css code */
#Education-Page{
  background-color: #F9F5EB;
  position: relative;
  z-index: -3;
}

.education-heading {
  display: block;
  overflow: auto;
}

.education-page-section {
  padding: 5% 12% 20% 12%;
  display: block;
  overflow: auto;
}

.education-title {
  text-align: center;
}

.education-pomona {
  margin-top: 50px;
  float: left;
  width: 50%;
  display: block;
  overflow: auto;
  min-height: 100%;
  border-right: 1px dotted #000900;

}
@media (max-width: 1000px) {
  .education-pomona {float: none; width: 100%; border: none; text-align: center;}
}

.pomona-heading{
  text-align: left;
  float: left;
  width: 60%;
}
@media (max-width: 1000px) {
  .pomona-heading {float: none; width: 100%; text-align: center;}
}

.pom-icon {
  float: right;
  width: 40%;
}
@media (max-width: 1000px) {
  .pom-icon {float: none; width: 100%; padding-right: 5%;}
}

.pomona-logo {
  width: 200px;
  border-radius: 10%;
}

.pomona-info {
  margin-top: 20px;
  margin-right: 20px;
  line-height: 1.6;
}

.education-bellarmine {
  margin-top: 50px;
  float: right;
  width: 49.9%;
  display: block;
  overflow: auto;
  position: relative;
  left: 20px;
}
@media (max-width: 1000px) {
  .education-bellarmine {float: none; width: 100%; position: relative; left: 0; text-align: center;}
}


.bellarmine-heading{
  text-align: left;
  float: left;
  width: 70%;
}
@media (max-width: 1000px) {
  .bellarmine-heading {float: none; width: 100%; text-align: center;}
}

.bellarmine-logo {
  width: 130px;
  position: relative;
  left: 10px;
}

.bell-icon {
  float: right;
   width: 30%;
}
@media (max-width: 1000px) {
  .bell-icon {float: none; width: 100%; text-align: center; position: relative; right: 10px;}
  .bellarmime-logo {position: relative; left: 0;}

}

.bellarmine-info {
  margin-top: 20px;
  line-height: 1.6;
}

/* Experience Page css code */

#Experience-Page {
  background-color: white;
  position: relative;
  z-index: -1;
}

@media
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {
  .experience-table {display: block; padding: 0;}
  .experience-tr {display: block; padding: 0; line-height: 2; text-align: center;}
  .experience-td-picture {display: block; padding: 0; height: 200px;
  }
  .experience-td-info {display: block; padding: 0;
  overflow: auto;}
  .experience-pictures {width: 80%; height: auto; margin-bottom: 0;}
}



.experience-table {
  border-collapse: collapse;
  border-collapse: separate;
  border-spacing: 0 20px;
  display: block;
  overflow: auto;
}

.experience-tr {
  padding-bottom: 100px;
}
.experience-td-picture {
  padding: 30px;
}
.experience-td-info{
  position: relative;
}

.experience-cards {
  padding-top: 5%;
}

.experience-page-section {
  padding: 5% 12%  10% 12%;
  display: block;
  overflow: auto;
}

.experience-title {
  text-align: center;
}
/*
.experience-card-picture {
  float: left;
  width: 100%;
  height: 3000px;
  display: flex;
  text-align: center;

}*/

.experience-card-info {
}

.experience-pictures {
  width: 230px;
  border-radius: 13%;
  height: 160px;
  border: 2px solid;
  object-fit: scale-down;
  margin-bottom: 100%;
}

/* Project Page css code */
#Project-Page {
  background-color: #EAE3D2;
  position: relative;

}

@media
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {
  #table1 { display: block;}
  .project-table {display: block;}
  .project-table-cells {display: block;}
  .project-slides {width: 100%; height: 50%; margin-bottom: 10%;}
  .carousel-pictures {width: 100%; height: 40%; object-fit: scale-down; text-align: center;}

}

.project-section {
  text-align: center;
  display: block;
  overflow: auto;
  padding-bottom: 10%;

}

.project-title {
  padding-top: 100px;
}

.project-pictures {
  width: 390px;
  height: 230px;
  border: 3px solid;
  border-color: #607EAA;
  opacity: 1;
  transition: .5s ease;
  backface-visibility: hidden;
}

.project-pictures:hover{
  background-color: black;
}

.project-table {
  margin-left: 0;
  margin-right: 0;
  position: relative;

}

table#table1 {
  width: 100%;
  margin-bottom: 75px;
  margin-top: 50px;
  position: relative;

}


.project-slides {
  width: 100%;
  height: 450px;
  display: flex;
  text-align: center;
}

.carousel-pictures {
  width: 700px;
  height: 450px;
  object-fit: cover;
}

.project-carousel {
  width: 60%;
  height: 450px;
  display: block;
  margin: auto auto auto auto;
}

.middle {
  position: absolute;
  padding-left: 19%;
  text-align: center;
  height: 230px;
  width: 385px;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
  box-sizing: border-box;
  display: inline-block;
}

.project-hover {
  width: 80%;
  margin: 0px auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}


.project-hover:hover .middle {
  opacity: 0.9;
}

.project-text {
  position: absolute;
  bottom: 0;
  left: 100%;
  right: 0;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .3s ease;
  color: black;
}

.hover-heading {
  position: absolute;
  right: 15%;
}

.hover-heading-cu {
  position: absolute;
  right: 20%;

}

.project-hr {
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  border: 2px solid black;
  border-color: black;
  color: black;
  opacity: 1;
}

.project-sub-heading {
  padding-top: 30px;
  opacity: 1;
  color: white;
  text-align: center;
}

.project-sub-info{
  opacity: 1;
  color: white;
  font-size: 15px;
  position: absolute;
  top: 60%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.project-hover:hover .project-text{
  width: 100%;
  left: 0;
}

.project-table-cells {
  padding-left: 0;

}

/* Baseball Page css code */
#BaseballPage {

}

@media
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {
  .baseball-slides {padding-bottom: 10%; width: 100%;}
}

.baseball-div {
  padding-top: 5%;
  padding-bottom: 10%;
  padding-right: 14%;
  padding-left: 14%;
  display: block;
  overflow: auto;
}

.baseball-heading {
  text-align: center;

}

.baseball-slides {
  width: 100%;
  height: auto;

}

.baseball-pictures {
  width: 99%;
  height: 700px;
  object-fit: cover;
}

.baseball-carousel {
  padding-top: 50px;
  width: 100%;
  height: 700px;
  display: block;
  margin: auto auto auto auto;
  position: relative;
  z-index: -1;
}

/* Contact Me Page css code */
#Contact-Page {
  background-color: #607EAA;
  position: relative;
}

.contact-div {
  height: 520px;
}

.contact-heading {
  text-align: center;
  color: white;
  padding-top: 5%;
}

.contact-table {
  display: table;
  margin: 0 auto;
}

/* Navbar section */
.navbar {
  height: 80px;
  width: 15%;
  display: flex;
  justify-content: start;
  align-items: center;
  position: sticky;

}

.Nav {
  position: -webkit-sticky; /* Safari & IE */
  position: sticky;
  top: 0;
  z-index: 999;
}

.menu-bars {
  margin-left: 2rem;
  font-size: 2rem;
  background: none;
}

.nav-menu {
  background-color: #1C3879;
  width: 220px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;

}

.nav-menu.active {
  left: 0;
  transition: 350ms;
}

.nav-text {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
}

.nav-text a {
  text-decoration: none;
  color: #f5f5f5;
  font-size: 16px;
  font-family: 'Merriweather Sans', sans-serif;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}
/* 060b26 */
.nav-text a:hover {
  background-color: #060b26;
}

.nav-menu-items {
  width: 100%;
}

.navbar-toggle {
  background-color: #1C3879;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
}

span {
  margin-left: 16px;
}
